@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&display=swap');
*{
    font-family: 'Source Serif Pro', serif;
}
body{
    background: linear-gradient(to bottom, white, pink, rgb(255, 75, 75)) fixed;
}
p{
  text-align: justify;
  text-indent: 30px;
}
  
  @media (min-width: 576px) {
    html {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 768px) {
    html {
      font-size: 1rem;
    }
  }
  @media (min-width: 992px) {
    html {
      font-size: .8rem;
    }
  }
  @media (min-width: 1200px) {
    html {
      font-size: 1rem;
    }
  }
  
 